# systemd.timer config for running the correspondingly named
# `battery-monitor.service` unit on a cron-like schedule.
# Using systemd for the timing, rather than running a one-shot
[Unit]
Description=Run battery-timer script regularly
Requires=graphical-session.target

[Timer]
# Use `OnStartupSec` for user-level timers, see `man systemd.timer`
OnStartupSec=3m
# Ensure that even across service restarts, max `OnStartupSec` will elapse
# before checking, as opposed to resetting the counter on every restart.
Persistent=true

[Install]
WantedBy=timers.target
