[submodule "home/.vim/bundle/jedi-vim"]
	path = home/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/vim-yankstack"]
	path = home/.vim/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule "home/.vim/bundle/vim-prose"]
	path = home/.vim/bundle/vim-prose
	url = https://github.com/nother/vim-prose
[submodule "home/.vim/bundle/auto-pairs"]
	path = home/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
