[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "/home/conor/gits/dotfiles/vim/bundle/vim-prose"]
	path = /home/conor/gits/dotfiles/vim/bundle/vim-prose
	url = git://github.com/nother/vim-prose.git
[submodule "vim/bundle/vimroom"]
	path = vim/bundle/vimroom
	url = git://github.com/mikewest/vimroom.git
[submodule "vim/bundle/writer"]
	path = vim/bundle/writer
	url = https://github.com/honza/writer.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
