[Unit]
Description=Redshift for warm colors at night
After=graphical.target

[Service]
User=%i
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/user/bin/redshift.sh
TimeoutStopSec=5

[Install]
WantedBy=graphical.target
