[user]
	name = Conor Schaefer
	email = conor.schaefer@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	diff = auto
	status = auto

[push]
	default = matching
[pull]
	rebase = true

# for $deity's sake, check that anything we're getting is complete and sane on a regular basis
# see discussion at https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
[status]
	submoduleSummary = true
[diff]
	submodule = log
