[package]
name = "ripping-tools"
version.workspace = true
edition = "2024"
license.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
dialoguer.workspace = true
homelab = { path = "../homelab" }
xshell.workspace = true
